<!-- Education Start -->
<div class="education" id="education">
    <div class="content-inner">
        <div class="content-header">
            <h2>Education</h2>
            <!--                    -->
            <!-- Property Binding -->
            <!--                    -->
        <input text="text" [value]="hau"/>
        <br>
        <img [src]="src">
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="edu-col">
                    <span>2016 <i>to</i> 2018</span>
                    <h3>Junior High-School</h3>
                    <p>I started my high-school life in Holy Angel University.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <span>2018 <i>to</i> 2020</span>
                    <h3>Senior High-School</h3>
                    <p>In my senior high-school days I was still studying in Holy Angel University.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <span>2020 <i>to</i> present</span>
                    <h3>College</h3>
                    <p>This is the present me, and I am still in Holy Angel University currently taking my 2nd semester in my 3rd year of my college life.</p>
                </div>
            </div> 
        </div>
    </div>
</div>
<!-- Education End -->