<!-- About Start -->
<div class="about" id="about">
    <div class="content-inner">
        <div class="content-header">
            <h2>About Me</h2>
            <!--                                     -->
            <!-- Interpolation One-Way Data Binding-->
            <!--                                     -->
            <h5>{{aboutContent}}</h5>
            <h5>{{aboutSelf}}</h5>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="assets/id.jpg" alt="Image">
            </div>
        </div>
    </div>
</div>
<!-- About End -->