/**********************************/
/*********** Reference CSS ***********/
/**********************************/
.reference {
    position: relative;
    background: #ffffff;
    border-bottom: 30px solid #F6D155;
}


.reference .reference-text p {
    font-size: 18px;
    font-style: italic;
}


.reference .reference-name h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.reference .reference-name p {
    font-size: 14px;
    margin-bottom: 0;
}

.reference .reference-text .ratting {
    margin-bottom: 5px;
}

.reference .reference-text .ratting i {
    color: #FF6F61;
    font-size: 14px;
}

.reference .slick-slider:hover .slick-prev {
    left: 30px;
}

.reference .slick-slider:hover .slick-next {
    right: 30px;
}

.reference-slider .slick-prev,
.reference-slider .slick-next {
    width: 35px;
    height: 35px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    background: rgba(255, 111, 97, .7);
}

.reference-slider .slick-prev {
    left: 55px;
}

.reference-slider .slick-next {
    right: 55px;
}

.reference-slider.slick-slider:hover .slick-prev {
    left: 15px;
    opacity: 1;
}

.reference-slider.slick-slider:hover .slick-next {
    right: 15px;
    opacity: 1;
}

.reference-slider .slick-prev:hover,
.reference-slider .slick-prev:focus,
.reference-slider .slick-next:hover,
.reference-slider .slick-next:focus {
    background: rgba(0, 0, 0, .7);
}

.reference-slider .slick-prev:hover::before,
.reference-slider .slick-prev:focus::before,
.reference-slider .slick-next:hover::before,
.reference-slider .slick-next:focus::before {
    color: #FF6F61;
}

.reference-slider .slick-prev::before,
.reference-slider .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
}

.reference-slider .slick-prev::before {
    content: "\f104";
}

.reference-slider .slick-next::before {
    content: "\f105";
}

.reference-slider .slick-dots {
    bottom: 15px;
}

.reference-slider .slick-dots li button:before {
    color: #ffffff;
    font-size: 15px;
}

.reference-slider .slick-dots li.slick-active button:before {
    color: #FF6F61;
}

.reference-slider.slick-slider {
    margin-bottom: 0;
}