/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #666666;
    background: #F6D155;
    font-family: 'Open Sans', sans-serif;
}


/**********************************/
/*********** Header CSS ***********/
/**********************************/
.header {
    position: relative;
    background: #ffffff;
}


.header p {
    color: #FF6F61;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 100px;
}

.header h1 {
    color: #222222;
    font-size: 50px;
    font-weight: 700;
}

.header h2 {
    display: inline-block;
    margin: 0;
    height: 25px;
    font-size: 25px;
}

.header .typed-text {
    display: none;
}

.header .typed-cursor {
    font-size: 25px;
    font-weight: 300;
    color: #222222;
}

.large-btn .content-inner {
    font-size: 0;
    border-bottom: 30px solid #F6D155;
}

.large-btn .btn {
    position: relative;
    width: 50%;
    padding: 15px 0;
    color: #FF6F61;
    font-size: 20px;
    background: #222222;
    border-radius: 0;
}

.large-btn .btn:last-child {
    color: #222222;
    background: #FF6F61;
}

.large-btn .btn i {
    margin-right: 8px;
}

.large-btn .btn::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s;
}

.large-btn .btn:hover::after {
    width: 100%;
    background: rgba(255, 255, 255, .1);
}

/**********************************/
/******* Content Header CSS *******/
/**********************************/
.content-header {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.content-header h2 {
    color: #222222;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
}

.content-header::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #FF6F61;
}

/**********************************/
/*********** Footer CSS ***********/
/**********************************/
.footer {
    position: relative;
    width: 100%;
    padding: 30px 30px 0 30px;
    background: #F6D155;
}

.footer .col-md-6:last-child {
    text-align: right;
}

@media(max-width: 767.98px) {
    .footer .col-md-6,
    .footer .col-md-6:last-child{
        text-align: center;
    }
}

.footer p {
    color: #222222;
    margin: 0;
}

.footer a {
    color: #FF6F61;
    font-weight: 600;
}

.footer a:hover {
    color: #222222;
}


