<!-- Achievements Start -->
<div class="service" id="service">
    <div class="content-inner">
        <div class="content-header">
            <h2>Achievements</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="srv-col">
                    <i class="fa fa-desktop"></i>
                    <!--                                    -->
                    <!-- Style Binding and Class Binding -->
                    <!--                                    -->
                    <h3 [style.color]="theColor" >1st Year College</h3>
                    <p [class]="changeColor">In my 1st year of my college life I've achieved a Dean's Lister from the 1st semester.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="srv-col">
                    <i class="fa fa-laptop"></i>
                    <h3 [style.color]="newColor">Senior High-School</h3>
                    <p [class]="usedColor">I've achieved a TESDA certificate from Bread and Pastry in my TVL course on my senior high-school life.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="srv-col">
                    <i class="fa fa-search"></i>
                    <h3 [style.color]="newColor">Senior High-School</h3>
                    <p>I've achieved a TESDA certificate from Food and Beverage Industry in my TVL course on my senior high-school life.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Achievement End -->